@model sispedidos.web.Models.MaterialViewModel

@{ 
    ViewData["Title"] = "Materiales";
}

<h1>
    Materiales @await Component.InvokeAsync("NuevosPedidos")
</h1>


    @if (Model.ExistenMateriales)
    {
        <table class="table">
            <thead>
                <tr>
                    <th>
                        @Html.DisplayNameFor(model => model.Materiales[0].Nombre)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Materiales[0].Unidad)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Materiales[0].Id)
                    </th>
                </tr>
            </thead>

            <tbody>
                @foreach (var material in Model.Materiales)
                {
                    <tr>
                        <td>
                            @Html.DisplayFor(model => material.Nombre)
                        </td>
                        <td>
                            @Html.DisplayFor(model => material.Unidad)
                        </td>
                    </tr>

                }
            </tbody>

        </table>

    }
    else
    {
        <p>No existen Materiales</p>
    }


