@model sispedidos.web.Models.MaterialViewModel

@{ 
    ViewData["Title"] = "Lista de Productos";
}

@*<h1>
    Materiales
</h1>*@

<h2 class="text-center text-success">Listado de Productos @await Component.InvokeAsync("NuevosPedidos")</h2>

@if (Model.ExistenMateriales)
{
    <table class="table table-hover table-striped">
        <thead>
            <tr class="bg-primary">
                @*<th>
                    @Html.DisplayNameFor(model => model.Materiales[0].Nombre)
                </th>*@
                <th>Código</th>
                <th>Descripción</th>
                <th>Precio Unitario</th>
                <th>Unidad</th>
            </tr>
        </thead>

        <tbody>
            @foreach (var material in Model.Materiales)
            {
                <tr>
                    <td>@Html.DisplayFor(model => material.CodigoAuxiliar)</td>
                    <td>@Html.DisplayFor(model => material.Nombre)</td>
                    <td>@Html.DisplayFor(model => material.PrecioUnitario)</td>
                    <td>@Html.DisplayFor(model => material.Unidad)</td>
                    <td><a class="btn btn-info" href="~/Material/@Html.DisplayFor(model => material.Id)"><span class="glyphicon glyphicon-edit"></span></a></td>
                </tr>

            }
        </tbody>

    </table>

}
else
{
    <p>No existen Materiales</p>
}
